.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.box-styling{
  border:4px solid rgb(94,27,2);
  width:fit-content;
  padding-left: 50px;
  padding-right: 50px;
  margin:auto;
  outline: 5px solid rgb(255, 174, 0);
  outline-offset: -25px;
  background-color: transparent;
  backdrop-filter: blur(25px);
}

.navbar-brand {
  color: red;
  font-family: cursive;
  
}

.nav-item {
  color: black;
}
.btn {
  color: black;
  border :2px solid black;
  background-color: #61dafb;
  font-family: cursive;
  font-weight: bolder;
  font-style:italic;
}
.disabled-button {
  background-color: #ccc; /* Grey background */
  color: #666; /* Grey text */
  cursor: not-allowed; /* Change cursor to indicate it's disabled */
}


/* AddUser.css */

form {
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
  margin-top: 80px;
}

label {
  display: block;
  margin-bottom: 10px;
  color: #333;
}

input {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  box-sizing: border-box;
}

button {
  background-color: #4caf50;
  color: #fff;
  padding: 10px;
  border: none;
  cursor: pointer;
  width: 100%;
  box-sizing: border-box;
}

button:hover {
  background-color: #45a049;
}

.box1{
  text-align: center;
  padding-top: 30px;
  
}
/* ViewUser.css */

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

thead {
  background-color: #4caf50;
  color: white;
}

th, td {
  border: 1px solid #ddd;
  padding: 12px;
  text-align: left;
}

tr:nth-child(even) {
  background-color: #f9f9f9;
}

tr:hover {
  background-color: #d1ed48;
}

.button1 {
  color: white;
  padding: 8px 12px;
  border: none;
  cursor: pointer;
}

.button1:hover {
  background-color: #d32f2f;
}
.btn1{
  font-weight: bolder;
  font-style:italic;
  background-color:#d32f2f;
}
.btn2{
  font-weight: bolder;
  font-style:italic;
}