.dashboard {
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
    align-items: center;
    margin: 250px;
  }
  
  .dashboard-item {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 250px;
    height: 150px;
    margin: 10px;
    background-color: #3498db;
    color: #ffffff;
    text-decoration: solid;
    border-radius: 5px;
    font-size: 18px;
  }
  
  .dashboard-item:hover {
    background-color: #2980b9;
  }
  
  .dashboard-item i {
    margin-right: 10px;
  }
  
  